
*{
    font-family: 'Comfortaa', cursive;
}
a{
    list-style: none;
    text-decoration: none;
    color: #00BFA6;
}

main{
    max-width: 80%;
    height: 90%;
    margin: 50px auto;
    color: #00BFA6;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1, button{
    border: 3px solid #00BFA6;
    border-radius: 8px;
    padding: 10px;
}

img{
    max-width: 50%;
}
button{
    background-color: white;
    color: #00BFA6;
    padding: 15px;
    cursor: pointer;
    margin: 20px 40px;
}